<div>
  <app-tree
    [withDragAndDrop]="true"
    [columns]="homeTreeColumns"
    [viewStrategy]="viewStrategy">

      <app-tree-column>
        <ng-template let-node='node'>
          <p>{{node.data.name}}</p>
        </ng-template>
      </app-tree-column>
      <app-tree-column>
        <ng-template let-node='node'>
          <p>{{node.data.currentPrice}}</p>
        </ng-template>
      </app-tree-column>
      <app-tree-column>
        <ng-template let-node='node'>
         <p> {{node.data.netChange}}</p>
        </ng-template>
      </app-tree-column>
    <app-tree-column>
      <ng-template let-node='node'>
       <p> {{node.data.percentageNetChange}}</p>
      </ng-template>
    </app-tree-column>
  </app-tree>
</div>

<!--<ng-template let-column let-data='data' #templateRef>-->
<!--  {{column | json}}-->
<!--</ng-template>-->
<!--<app-tree-node-collection></app-tree-node-collection>-->
