<div>
  <app-tree
    [withDragAndDrop]="true"
    [columns]="homeTreeColumns"
    [viewStrategy]="viewStrategy">

      <app-tree-column>
        <ng-template let-node='node'>
          <p>{{node.data.name}}</p>
        </ng-template>
      </app-tree-column>
      <app-tree-column>
        <ng-template let-node='node'>
          <p>{{node.data.currentPrice}}</p>
        </ng-template>
      </app-tree-column>
      <app-tree-column>
        <ng-template let-node='node'>
         <p> {{node.data.netChange}}</p>
        </ng-template>
      </app-tree-column>
    <app-tree-column>
        <ng-template let-node='node'>
          <app-text-badge [color]="node.data.percentageNetChange > 0 ? 'green' : 'red'">
            {{node.data.percentageNetChange}}%
          </app-text-badge>
        </ng-template>
    </app-tree-column>
  </app-tree>
</div>
