<div>
  <app-tree
    [withDragAndDrop]="true"
    [columns]="homeTreeColumns"
    [viewStrategy]="viewStrategy">

      <app-tree-column>
        <ng-template let-node='node'>
          <p style="flex: 0 1 90%">{{node.data.name}}</p>
        </ng-template>
      </app-tree-column>
      <app-tree-column>
        <ng-template let-node='node'>
          <p>{{node.data.currentPrice | price }}$</p>
        </ng-template>
      </app-tree-column>
      <app-tree-column>
        <ng-template let-node='node'>
          <app-text-badge [color]="node.data.netChange > 0 ? 'green' : 'red'">
            {{node.data.netChange | price}}$
          </app-text-badge>
        </ng-template>
      </app-tree-column>
    <app-tree-column>
        <ng-template let-node='node'>
          <app-text-badge [color]="node.data.percentageNetChange > 0 ? 'green' : 'red'" subtle="true">
            {{node.data.percentageNetChange | price}}%
          </app-text-badge>
        </ng-template>
    </app-tree-column>
  </app-tree>
</div>
