<div [popper]="popperContent"
     [popperShowOnStart]="false"
     popperTrigger="click"
     popperPlacement="bottom"
     (click)="onUserClick()">
  <fa-icon [icon]="faUserAlt"></fa-icon>
  {{user?.getUserLogin()}}

</div>


<popper-content #popperContent>
  <div class="header-account-info__container">
    <div *ngIf="isLoaded">
      <div class="flex w-full">
        <h4>Balance: </h4>
        <app-text-badge
          [color]="headerAccountData.currentBalance > 0 ? 'green' : 'red'"
          class="w-full ml-4">
         {{ headerAccountData.currentBalance | price }} $
        </app-text-badge>

      </div>
      <app-chart
        id="headerAccount"
        [chartConfig]="chartConfig"
        [chartData]="chartData"
      ></app-chart>
    </div>
    <div class="flex w-full">
      <app-button class="ml-4">
        <a routerLink="account">
          Account
        </a>
      </app-button>
      <app-button class="ml-4">
        <a routerLink="auth">
          Profile
        </a>
      </app-button>
    </div>
  </div>
</popper-content>
