ngx-slider::ng-deep {
  .ngx-slider .ngx-slider-tick-legend {
    white-space: unset;
  }
}

app-account-date-range-form {
  form {
    &.shadow-lg {
      box-shadow: unset;
    }
  }

  app-select-field {
    label {
      text-align: center;
      padding: 0;
    }
  }


  .ngx-slider-inner-tooltip {
    display: none;
    height: 0;
  }


}
