  <div class="title justify-center">
    <div class="flip text-right">
      <h2><div class="bg-red-600 rounded-2xl">Buy</div></h2>
      <h2><div class="bg-blue-600 rounded-2xl">Sell</div></h2>
      <h2><div class="bg-green-600 rounded-2xl">Invest in</div></h2>
    </div>
    <div class="flex items-center">
      <h2>&nbsp;Bitcoin & Crypto</h2>
    </div>
  </div>


<p class="text-right md:text-center">Sign up today and practice your investing skill with my cryptocurrency exchange simulator.
  10 cryptocurrencies with current prices are waiting for your actions! Start with 1000$ and become a multimillionaire</p>
