$root: 'tree-node';
$border: 'border-gray-600 border-opacity-25';


.#{$root} {
  @apply flex flex-wrap;

  &__column {
    @apply flex justify-center h-8 items-center;
  }

  &__children {
    @apply #{$border} border-t;
    flex: 0 1 100%;
    animation: appear__phone 1s linear;

    @media screen and (min-width: 800px) {
      animation: appear__desktop 2s linear;
    }
  }
}

@keyframes appear__phone {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 200px;
  }
}

@keyframes appear__desktop {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 900px;
  }
}


.spin-up {
  animation: spin-up 1000 linear;
}

.spin-down {
  animation: spin-up 1000 linear;
}


.drag-button, .expand-button {
  @apply mr-1;
  flex: 0 0 10px
}

@keyframes spin-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes spin-down {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
