$root: 'tree-node';
$border: 'border-purple-600 border-opacity-25';


.#{$root} {
  @apply flex flex-wrap border-b border-l border-r #{$border};


  &__column {
    @apply flex justify-center border-l border-r #{$border}
  }

  &__children {
    @apply #{$border} border-t;
    flex: 0 1 100%
  }
}

.drag-button, .expand-button {
  @apply mr-1;
  flex: 0 0 10%
}
