<div class="tree-node">
  <div *ngFor="let column of treeColumns; let index = index"
       [style.flex]="column.flex"
       [class.pl-2]="index === 0"
       class="tree-node__column">
    <ng-container *ngIf="column.dragButton">
      <div class="drag-button text-center text-gray-500 cursor-pointer">
        <fa-icon [icon]="dragIcon"></fa-icon>
      </div>
    </ng-container>
    <ng-container *ngIf="column.expand">
      <div class="expand-button text-center text-gray-500 cursor-pointer"
           (click)="expandNode(node)">
        <fa-icon [icon]="expandIcon" class="flex-1" [class.spin-up]="isExpanded"></fa-icon>
      </div>
    </ng-container>

    <ng-container *ngIf="viewStrategy === TreeViewStrategy.DEFAULT; else templateColumnView">
      <h4
        class="truncate"
        [class.ml-2]="column.dragButton || column.expand"
        [ngStyle]="{'flex': (column.dragButton || column.expand) ? '1 1 80%' : '1 1 100%'}">
        {{ getContext(index) }}</h4>
    </ng-container>

    <ng-template #templateColumnView>
      <ng-container *ngIf="!column.popper; else templateColumnViewWithPopper">
        <ng-container *ngTemplateOutlet="column.template; context: {'node': node, 'data': node.data}"></ng-container>
      </ng-container>
      <ng-template #templateColumnViewWithPopper>
        <div [popper]="popperContent"
             [popperDisabled]="!column.popper"
             popperTrigger="click">
          <ng-container *ngTemplateOutlet="column.template; context: {'node': node, 'data': node.data}"></ng-container>
        </div>
        <popper-content #popperContent>
          <ng-container *ngTemplateOutlet="column.popper; context: {'node': node, 'data': node.data}"></ng-container>
        </popper-content>
      </ng-template>
    </ng-template>
  </div>
  <div *ngIf="isExpanded" class="tree-node__children">
    <ng-container *ngTemplateOutlet="childTemplate; context: {'node': node, 'data': node.data} "></ng-container>
  </div>
</div>





