<div class="home-tree">
  <app-tree
    [nodes]="nodes"
    [columns]="homeTreeColumns"
    [viewStrategy]="viewStrategy">

    <app-tree-column>
      <ng-template let-node='node'>
        <p style="flex: 0 1 90%">{{node.data.name}}</p>
      </ng-template>
    </app-tree-column>

    <app-tree-column>
      <ng-template let-node='node'>
        <p>{{node.data.currentPrice | price }}$</p>
      </ng-template>
    </app-tree-column>

    <app-tree-column
    [popperContent]="popper">
      <ng-template let-node='node'>
        <div class="flex">
          <app-button
            [color]="ButtonColors.RED"
            class="sell-button">Sell
          </app-button>
          <app-button
            [color]="ButtonColors.GREEN"
            (click)="onSold()"
            class="sell-button">Buy
          </app-button>
        </div>

      </ng-template>
    </app-tree-column>




    <ng-template #child let-node='node'>
      <div class="home-tree-child__container">
        <app-home-tree-child-component
          [data]="node.childData"
          [id]="node.id"
          [name]="node.data.name"
        ></app-home-tree-child-component>
      </div>
    </ng-template>
  </app-tree>
</div>


<ng-template let-node='data' #popperContent>
  <app-sell
    [crypto]="node.crypto"
    [maxAmount]="node.amount"
    [cryptoPrice]="node.price"
    (sold)="onSold()"
  ></app-sell>
</ng-template>


<ng-template let-node='data' #popperContentRRR>
  <h2>ADSADADSDASD</h2>
</ng-template>






