<div class="relative md:hidden mobile z-50">
  <div class="bg-blue-800 text-gray-100 flex justify-between md:hidden items-center">
    <a routerLink=''>
      <h1 class="text-2xl ml-2 inline-block font-medium text-white cursor-pointer">Crypto</h1>
    </a>
    <button class="mobile-menu-button p-4 focus:outline-none focus:bg-blue-500">
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>
  </div>

  <div class="sidebar mobile__sidebar transform -translate-x-full z-50">
    <a routerLink='' class="text-white flex items-center space-x-2 px-4">
      <span class="text-2xl font-extrabold">Crypto</span>
    </a>
    <nav>
      <a href="#" class="mobile__tabs">Home</a>
      <a href="" class="mobile__tabs">About</a>
      <a href="" class="mobile__tabs">Features</a>
      <ng-container *ngIf="!user; else signOut">
        <a class="mobile__tabs" routerLink='auth'>
          <fa-icon [icon]="faSignInAlt" class="flex-1"></fa-icon>
          Sign in
        </a>
      </ng-container>
      <ng-template #signOut>
        <a class="mobile__tabs" routerLink=''>
          <fa-icon [icon]="faUserAlt" class="flex-1"></fa-icon>
          {{user.getUserLogin()}}
        </a>
        <a class="mobile__tabs" routerLink='' (click)="logout()">
          <fa-icon [icon]="faSignOutAlt" class="flex-1"></fa-icon>
          Logout
        </a>
      </ng-template>

    </nav>
  </div>
</div>


<nav class="desktop">
  <div class="flex items-center mx-5 md:py-0">
    <a routerLink=''>
      <h1 class="text-2xl ml-2 inline-block font-medium text-white cursor-pointer">Crypto</h1>
    </a>
  </div>
  <div class="md:flex md:flex-grow bg-blue-800">
    <ul class="text-lg md:flex md:ml-auto ">
      <li><a class="desktop__tabs" href="">Home</a></li>
      <li><a class="desktop__tabs" href="">About</a></li>
      <li><a class="desktop__tabs" href="">Projects</a></li>
      <li><a class="desktop__tabs" href="">Blog</a></li>

      <ng-container *ngIf="!user; else signOutDesktop">
        <li><a class="desktop__tabs" routerLink='auth'>
          <fa-icon [icon]="faSignInAlt" class="flex-1"></fa-icon>
          Sign in
        </a></li>
      </ng-container>
      <ng-template #signOutDesktop>
        <li><a class="desktop__tabs" routerLink='auth'>
          <fa-icon [icon]="faUserAlt" class="flex-1"></fa-icon>
          {{user.getUserLogin()}}
        </a></li>
        <li><a class="desktop__tabs" routerLink='' (click)="logout()">
          <fa-icon [icon]="faSignOutAlt" class="flex-1"></fa-icon>
          Logout
        </a></li>
      </ng-template>

    </ul>
  </div>
</nav>
<app-dropdown></app-dropdown>
