<popper-content #dropDownOptions>
  <div class="dropdown-options-group">
    <a *ngFor="let option of dropdownOptions" [routerLink]="option.link"
       class="dropdown-option">
      {{option.title}}
    </a>
  </div>
</popper-content>
<div [popper]="dropDownOptions"
     [popperShowOnStart]="false"
     popperTrigger="click"
     popperPlacement="bottom">
  <li *ngIf="!dropdownConfig; else elementRef">
    <a>{{name}}</a>
  </li>
</div>


<ng-template #elementRef>
  <ng-content></ng-content>
</ng-template>
