.container {
  @apply text-center;
  width: 100%;

  form {
    @apply px-0 py-0;
    background: transparent;
    box-shadow: none;
  }

  app-button {
    @apply mt-2
  }

  input {
    width: 150px
  }

  .sell-all-button {
    width: 100px
  }
}

