.trading-buy {

  form {
    @apply px-4
  }

  label {
    @apply block text-center
  }

  input {
    @apply mx-auto block text-center;
    width: 4rem
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  &.trading-window-disabled {
    @apply bg-gray-100 cursor-not-allowed;

    input {
      @apply cursor-not-allowed pointer-events-auto
    }

    label {
      @apply cursor-not-allowed
    }

    form {
      @apply cursor-not-allowed
    }

  }
}
