<div class="block w-full items-center md:flex">
  <app-trading-chart *ngIf="data"
                     [data]="data.pastCryptoData"
                     [id]="data.cryptoData.name"
                     class="w-full"></app-trading-chart>

  <app-trading-balance
    [balance]="data.balance"
    [ownedCrypto]="data.ownedCrypto"
    class="trading-balance"
  ></app-trading-balance>
</div>
<div class="flex justify-between items-center">
  <div class="flex w-full justify-center items-center">
    <app-trading-buy
      label="Sell"
      class="mr-4"></app-trading-buy>

    <app-trading-buy
      label="Buy"
      class="ml-4"></app-trading-buy>
  </div>

  <app-button class="text-4xl mr-8">
    Trade!
  </app-button>
</div>

