<div class="block w-full items-center md:flex">
  <app-trading-chart *ngIf="data"
                     [data]="data.pastCryptoData"
                     [id]="data.cryptoData.name"
                     class="w-full"></app-trading-chart>

  <app-trading-balance
    [balance]="data.balance"
    [ownedCrypto]="data.ownedCrypto"
    class="trading-balance"
  ></app-trading-balance>
</div>
<div class="flex justify-between items-center">
  <div class="flex w-full justify-center items-center">
    <app-trading-form
      label="Sell"
      [maxAmount]="data.ownedCrypto.amount"
      [disable]="!sellAvailable"
      (amount$)="onSellAmount($event)"
      class="mr-4"></app-trading-form>

    <app-trading-form
      label="Buy"
      [maxAmount]="getBuyMaxAmount()"
      [disable]="!buyAvailable"
      (amount$)="onBuyAmount($event)"
      class="ml-4"></app-trading-form>
  </div>

  <app-button class="text-4xl mr-8"
              [disabled]="!tradeAvailable">
    Trade!
  </app-button>
</div>

